<?xml version="1.0"?>
<!--
Brief: Augment p3at.urdf.xacro base setup with support for custom components

-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:if value="$(optenv RPLIDAR 0)">
		<xacro:include filename="$(find p3at_description)/urdf/accessories/rplidar.urdf.xacro" />
		<xacro:rplidar parent_link="top_plate" xyz="$(optenv P3AT_LASER_OFFSET 0 0 0)" rpy="$(optenv P3AT_LASER_RPY 0 0 0)"/>
	</xacro:if>


	<xacro:if value="$(optenv IMU 0)">
		<xacro:include filename="$(find p3at_description)/urdf/accessories/imu_icm20948.urdf.xacro" />
		<xacro:imu parent_link="top_plate" xyz="$(optenv P3AT_IMU_OFFSET 0 0 0)" rpy = "$(optenv P3AT_IMU_RPY 0 0 0)"/>
	</xacro:if>

</robot>
