<!--
Launch driver components of p3at's supported accessories.

Environment Variables generally derived from /etc/ros/setup.bash

-->

<launch>

  <group if="$(optenv RPLIDAR 0)">
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
    <include file="$(find p3at_rplidar)/launch/p3at_laser_filter.launch" />
  </group>
  
  <group if="$(optenv PAN_TILT 0)">
    <node pkg="dynamixel_pan_tilt" type="dynamixel_pan_tilt_node.py" name="dynamixel_pan_tilt_node"/>
  </group>
  
  <group if="$(optenv RADEYE 0)">
    <include file="$(find radeye)/launch/radeye_example.launch"/>
  </group>

  <group if="$(optenv ZED 0)">
    <node pkg="aliencontrol" type="aliencontrol" name="aliencontrol_zedstream">
      <param name="cmd" value="/home/jetson/ZED_Streaming_Sender_Depth"/>
    </node>
  </group>

  <group if="$(optenv GRIPPER 0)">
    <!--Launch rosserial node to communicate with gripper-->
    <node pkg="rosserial_python" type="serial_node.py" name="p3at_gripper_serial_node">
      <param name="port" value="/dev/arduino"/>
      <param name="gripper_motor_speed" value="240"/>
    </node>
  </group>

</launch>
