<launch>
  <arg name="p3at_port" default="/dev/teensy" />

  <include file="$(find p3at_description)/launch/description.launch" />

  <node pkg="p3at_base" type="p3at_node" name="p3at_node">
    <rosparam>
      # TODO: Specify these in code rather than here.
      require:
        publishers:
          - status
          - feedback
        subscribers:
          - cmd_drive
    </rosparam>
    <param name="port" value="$(arg p3at_port)" />
  </node>
  
  <!-- TODO: launch ICM20948 launch when stable-->
  <include file="$(find icm20948_imu)/launch/icm20948.launch" />
  
  <!-- Differential controller and basic localization -->
  <include file="$(find p3at_control)/launch/control.launch" />

  <!-- Teleoperation via joystick and rviz interactive markers -->
  <include file="$(find p3at_control)/launch/teleop.launch" />
  
</launch>
